            <aside class="main-aside">
				<a class="text-info" href="{% url 'index' ownerid '' %}" ><h2 style="margin-top: 60px;">{{ webuser }}</h2></a>
				<ul class="article-info list-unstyled" style="margin-top: 20px;">
					<li><p>{{ arttotal }}</p><span>文章</span></li>
					<li><p>{{ comtotal }}</p><span>评论</span></li>
					<li><p>{{ readtotal }}</p><span>访问</span></li>
				</ul>
				<ul class="copyright list-unstyled">
					<li>Copyright &copy; 2017-2050, </li>
					<li>MKCC.CC, All Rights Reserved</li>
				</ul>
			</aside>